                                            div {
                                                background-color: lightblue;
                                                width: 20%;
                                                height: 3rem;
                                                line-height: 1.5rem;
                                                font-size: 5vw;
                                                border-radius: 12px;
                                                border: 1px solid black;
                                                padding: 12px;
                                                margin: 4em;
                                                text-align: center;
                                                animation-name: move;
                                                animation-duration: 5s;
                                                animation-fill-mode: backwards;
                                            }
                                            
                                            @keyframes move {
                                                25% {
                                                    transform: translate(100px, 0px);
                                                }
                                                100% {
                                                    transform: translate(150px, -100px);
                                                }
                                                /*   Learning more about this
                                                transition-property: width;
                                                transition-duration: 1s;
                                                transition-timing-function: ease;
                                                transition-delay: 1s;
                                                transition: width 1s ease 1s,
                                                transform 1s ease 0s;*/
                                            }
                                            
                                            div:hover {
                                                width: 40%;
                                                transform: rotate(180deg);
                                                color: green;
                                            }