                                                    div {
                                                        background-color: lightblue;
                                                        width: 20%;
                                                        height: 3rem;
                                                        border-radius: 12px;
                                                        padding: 12px;
                                                        margin: 4em;
                                                        animation-name: move;
                                                        animation-duration: 3s;
                                                        animation-fill-mode: forwards;
                                                    }
                                                    
                                                    @keyframes move {
                                                        50% {
                                                            transform: translate(200px, 0px);
                                                        }
                                                        100% {
                                                            transform: translate(200px, 300px);
                                                        }
                                                    }
                                                    /*                                                     
                                                    transition-property: width;
                                                    transition-duration: 1s;
                                                    transition-timing-function: ease;
                                                    transition-delay: 1s;
                                                    transition: width 1s ease 1s,
                                                    transform 1s ease 0s;
                                                } 
                                                    
                                                    div:hover {
                                                        width: 50%;
                                                        transform: rotate(180deg);
                                                    }
                                                    */